<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>PORTONE INDEX PAGE</h1>

    <a href="javascript:void(0)" class="cert-btn">인증하기</a>
    <hr/>
    <a href="javascript:void(0)" class="pay-btn">결제하기</a>

    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script>
        IMP.init("imp77727322");

       const certBtn = document.querySelector('.cert-btn');
       certBtn.addEventListener('click',()=>{
          console.log('certBtn clicked...');

          const date = new Date();

          IMP.certification({
            channelKey: "",
            merchant_uid: "test_"+date.toString(),
          }, function (resp){
            console.log(resp);
            });
       })
        //
        const payBtn = document.querySelector('.pay-btn');
        payBtn.addEventListener('click',()=>{

            const date = new Date();
            const timeStamp = date.getTime();
            console.log('timeStamp', timeStamp)
            IMP.request_pay({
                channelKey: "",
                pay_method: "card",
                merchant_uid: "test_"+timeStamp,
                name: "초코파이",
                amount: 1200,
                buyer_tel: "010-0000-0000",
            });
        })
    </script>

</body>
</html>